{% extends "catering/base.html" %}
{% block content %}
{% block head %}
    <title>{{ title}}</title>
{% endblock %}
    {% for order in orders %}
        <article class="media content-section">
            <img class="rounded-circle" src="{{ order.name.image.url }}" alt="" width="300px" height="300px">
            <div class="media-body">
                <h2><a class="article-title">{{ order.name }}</a></h2>
                <p class="article-content">First delivery {{ order.date_of_start|date:"F d, Y" }}</p>
                <p class="article-content">Diet for {{ order.days }} day/s</p>
                <p class="article-content">Price per day {{ order.diet_cost_per_day }} PLN</p>
                <p class="article-content">Last delivery {{ order.date_of_end|date:"F d, Y" }}</p>
                <p class="article-content">Megabytes: {{ order.megabytes }}</p>
                <p class="article-content">Delivery costs: {{ order.delivery_cost }}</p>
                <p class="price">Price {{ order.to_pay }} PLN </p>
                <h2>DELIVERY</h2>
                <p class="price"> Main address: {{ order.address }} </p>
                <p class="price"> House number: {{ order.address_info }} </p>
                <p class="price"> {{ order.post_code }} {{ order.locality }} </p>

                {% if not order.is_up_to_date %}
                    <p class="text-danger">THIS ORDER IS NOT UP TO DATE, PLEASE CHANGE IT OR DELETE</p>
                {% endif %}


            </div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1"
               href="{% url "order_update" order.customer order.id %}  ">Change </a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url "order_delete" order.customer order.id %}">Delete </a>
        </article>
    {% endfor %}


    {% if orders %}
        <h4>Total Price {{ to_pay.to_pay__sum }} PLN</h4>
    {% else %}
        <h4>Your cart is empty :( </h4>
    {% endif %}


    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url "add_product" %}  ">Add Diet </a>

    <a class="btn btn-outline-dark btn-sm mt-1 mb-1" href="{% url "checkout" %}"> To Checkout </a>

{% endblock %}