{% extends "catering/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>{{ title}}</title>
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <div class="form-group">
            <button class="btn-outline-info" type="submit">Purchase</button>

        </div>
        <div>
            <img class="img-thumbnail" src="{% static  "/checkout/images/transfer.png" %}">
        </div>
    </form>
{% endblock %}
