{% extends "catering/base.html" %}
{% block head %}
    <title>{{ title}}</title>
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botom mb-4">Delete Order</legend>
                <h2>Are you sure to delete this order? "{{ object.name }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn-outline-danger" type="submit"> Yes</button>
                <a class="btn-outline-secondary" href="{% url "cart" %}">Cancel</a>

            </div>
        </form>
    </div>
{% endblock content %}
