{% extends "catering/base.html" %}
{% block head %}
    <title>{{ title}}</title>
{% endblock %}
{% block content %}

    {% for checkout in checkouts %}
        <article class="media content-section">
            <div class="media-body">
                <h2><a class="article-title" href="{% url "orders_history_detail" checkout.customer checkout.pk %}">Your
                    order from {{ checkout.date_of_purchase|date:"F d, Y" }}</a></h2>
                <p class="article-content">Costs: {{ checkout.to_pay }}</p>
                <p class="price"> Payment option {{ checkout.payment_method }}


            </div>
        </article>
    {% endfor %}

    {% if not checkouts %}
        <h4>Your history is empty :( </h4>
    {% endif %}


{% endblock %}