<table class="table">
    <thead class="thead-dark">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Number of the meal</th>
        <th scope="col">Meal</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>{{ meals.first_dish }}</td>

    </tr>
    <tr>
        <th scope="row">2</th>
        <td>{{ meals.second_dish }}</td>

    </tr>
    <tr>
        <th scope="row">3</th>
        <td>{{ meals.third_dish }}</td>

    </tr>
    <tr>
        <th scope="row">4</th>
        <td>{{ meals.fourth_dish }}</td>

    </tr>
    <tr>
        <th scope="row">5</th>
        <td>{{ meals.fifth_dish }}</td>

    </tr>

    </tbody>
</table>