{% extends  "catering/base.html" %}
{% block content %}
    {% block head %}
    <title> Offer </title>
{% endblock %}
    {% for diet in diets %}
        <article class="media content-section">
            <img class="rounded-circle" src="{{ diet.image.url }} " width="300px" height="300px">
            <div class="media-body">

                <h2><a class="article-title" href="{% url "offer_detail" diet.slug %}">{{ diet.name }}</a></h2>
                <p class="article-content">{{ diet.description }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}