{% extends  "catering/base.html" %}
{% block content %}
{% block head %}
    <title>{{ diet.name }}</title>
{% endblock %}
    <article class="media content-section">
        <img class="rounded-circle" src="{{ diet.image.url }}" width="300px" height="300px" >
        <div class="media-body">
            <h2><a class="article-title">{{ diet.name }}</a></h2>
            <p class="article-content">{{ diet.description }}</p>
            <p class="price">{{ diet.price }} PLN per day</p>
        </div>
    </article>


    <h2>Example Menu</h2>
    {% for meals in diet.dietexample_set.all %}

        {% include 'menu/example_diet_table.html' %}

    {% endfor %}

    <form action={% url "add_product" %}>
        <input type="submit" value="Make an Order!"/>
    </form>

{% endblock %}